<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/styles.css">
   
</head>
<body>
    <%- include("layout/header")  %>
    <main>
        <h2>Enter lat&lon</h2>
        <br/>
        <form id="weather_form">

            <h1>type latitude here:</h1>
            <br/>
            <input id="lat_input">
        </br> 
        
        <h1>type longitude here:</h1>
        <br/>
         <input id="lon_input">
         <br/>
         <br/>
            <button>Search</button>
        </form>
        <h2>weather information:</h2>
        <h4 class="data_block" id="weather_data_block">
        </h4>
    </main>
    <%- include("layout/footer")  %>
    <script src="/js/weather.js"></script>
</body>
</html>